wheel
setuptools==58.2.0
pydantic==1.9
PyYAML==6.0
pyOpenssl==21.0
git+https://github.com/pannet1/NorenRestApiPy
git+https://github.com/pannet1/omspy
git+https://github.com/pannet1/omspy-brokers
git+https://github.com/pannet1/toolkit
websocket_client
pandas
pendulum
pyotp
gspread
oauth2client
scipy
